# Entorno e Segredos
.env
.env.*
!.env.*.example
venv/
.venv/
node_modules/

# Python Cache
__pycache__/
*.py[cod]

# Next.js Build
.next/
out/

# Mobile Artifacts (Native Code)
android/
ios/

# IDE e Outros
.idea/
.vscode/
.DS_Store
Thumbs.db
